# Add files here to ignore them from prettier formatting
/dist
/coverage
node_modules
package-lock.json
documentation
e2e
*.md
*.json
*.yml
*.yaml
*.lock
*.log
*.txt
*.xml
**/*.
/tmp
/out-tsc
/coverage
/hooks
/integration/**/dist
/src/schematics/
/.angular/
**/test.tsmd
